<div class="tinder">
  <div class="tinder--cards">
    <div *ngIf="!hide && displayProfile" #ref class="tinder--card">
      <img [src]="displayProfile?.url">
      <h3>{{displayProfile.name}}</h3>
      <p>{{displayProfile.birthday}}</p>
    </div>

    <div *ngIf="!displayProfile" class="tinder--card">
      <h2>No more possible matches.</h2>
      <h2>Try again later!</h2>
    </div>
  </div>

  <div class="tinder--buttons">
    <button id="nope" (click)="swipeCard(false)"><i class="fa fa-remove"></i></button>
    <button id="love" (click)="swipeCard(true)"><i class="fa fa-heart"></i></button>
  </div>
</div>
