<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="header.component.css">
</head>
<body>

<div class="header">
  <a href="http://localhost:4200/matching" class="logo">LogoNamePlaceholder</a>
  <div class="header-right">
    <a href="http://localhost:4200/profile">Profile</a>
    <a href="http://localhost:4200/matching">Matching</a>
    <a href="http://localhost:4200/matches">Matches</a>
    <a href="http://localhost:4200/chats">Chat</a>
  </div>
</div>
</body>
</html>
