<section class="h-100 h-custom" style="background: linear-gradient(90deg, rgba(253,41,123,1) 0%, rgba(255,88,100,1) 50%, rgba(255,101,91,1) 100%);
">
  <div class="container py-5 h-100">
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div>
            <div class="d-flex justify-content-center mb-4">
              <img
                [src]="selectedProfile?.url ? selectedProfile.url : 'https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg'"
                class="rounded-circle" alt="example placeholder" style="width: 180px;" />
            </div>
            <div class="d-flex justify-content-center">
              <div class="btn btn-primary btn-rounded btn-sm">
                <label class="form-label text-white m-1" for="customFile2">Change image</label>
                <input type="file" class="form-control d-none" id="customFile2" (change)="onFileChanged($event)" />
              </div>
            </div>
          </div>
          <div class="card-body" [formGroup]="updateForm">
            <h5 class="card-title text-center">{{selectedProfile?.name ? selectedProfile.name : 'Pet name'}}</h5>
            <p class="card-text text-center"><small class="text-muted">Profile Details</small></p>
            <div [formGroup]="updateForm" class="px-md-3">

              <div class="row">
                <div class="mb-2">
                  <label class="form-label" for="name">Name</label>
                  <input type="text" id="name" class="form-control form-control-sm" formControlName="name" />
                </div>
              </div>

              <div class="row">
                <div class="mb-2">

                  <div id="date-picker" class="md-form md-outline input-with-post-icon datepicker" inline="true">
                    <label for="example">Birthday</label>
                    <input placeholder="YYYY-MM-DD" type="text" id="example" class="form-control"
                      formControlName="birthDay">
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="mb-2">
                  <label for="example">Species</label>
                  <select class="form-select form-control" formControlName="species">
                    <option [value]="null" hidden disabled>Species</option>
                    <option *ngFor="let s of species" [value]="s.id">{{s.name}}</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="mb-4">
                  <label for="example">Breed</label>
                  <select class="form-select form-control" formControlName="breed">
                    <option [value]="null" hidden disabled>Breed</option>
                    <option *ngFor="let breed of breeds" [value]="breed.id">{{breed.name}}</option>
                  </select>
                </div>
              </div>

              <div class="d-flex justify-content-center">
                <button (click)="onSubmit()" class="btn btn-success btn-sm mb-3">Update Profile</button>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 row">
        <div class="card bg-transparent border-3">
          <div class="card-body">
            <div [formGroup]="selectForm" class="card-selection-size col-11 shadow-lg">
              <select formControlName="selectedProfile" class="form-select m-sm-2 shadow-sm"
                aria-label="Select dog section">
                <option [value]="p.id" *ngFor="let p of allProfiles">{{p?.name}}</option>
              </select>
            </div>
          </div>
          <div class="card-footer bg-transparent">
            <div class="mb-4">
              <div class="btn btn-primary btn-rounded btn-sm shadow-sm col-11 m-sm-2" routerLink="/create-profile">
                <label class="form-label text-white m-1" for="RegisterDog">Register a new
                  animal</label>
              </div>
              <div class="btn btn-danger btn-rounded btn-sm shadow-sm col-11 m-sm-2" (click)="deleteProfile()" *ngIf="allProfiles?.length > 1">
                <label class="form-label text-white m-1" for="deleteProfile">Delete
                  Profile</label>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
